dev/CMakeFiles/
dev/.vimrc
dev/*.cmake
dev/CMakeCache.txt
dev/.clangd/
dev/compile_commands.json
dev/Makefile
dev/sweb
dev/.idea
dev/cmake-build-debug
dev/.cmake/
nohup.out
dev/.ninja_log
dev/.ninja_deps
dev/Testing/*
dev/build.ninja
